<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Tabs | Kemet UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/dist/styles/kemet.components.css" />
</head>

<body>
  <style>
    img {
      width: 100%;
    }

    main {
      max-width: 960px;
      margin: auto;
    }
  </style>
  <main></main>

  <script type="module">
    import { html, render } from 'lit';
    import '../../../../dist/kemet-components.js';

    const properties = {
      currentTab: 'two',
      panelEffect: 'none',
    };

    const mainElement = document.querySelector('main');

    const demoUI = props => html`
      <h1>Current Tab: ${props.currentTab}</h1>
      <form>
        <label>
          Panel Effect:&nbsp;&nbsp;
          <select @blur=${event => handlePanelEffect(event)}>
            <option value="none" selected>None</option>
            <option value="slide">Slide</option>
            <option value="fade">Fade</option>
          </select>
        </label>
      </form>
      <hr />
      <kemet-tabs class="horizontal" selected="two" panel-effect=${props.panelEffect} @kemet-tab-changed=${event => handleTabChanged(event)}>
        <div slot="links" role="tablist" aria-label="Tabs">
          <kemet-tab link="one">One</kemet-tab>
          <kemet-tab link="two">Two</kemet-tab>
          <kemet-tab link="three">Three</kemet-tab>
        </div>
        <section slot="panels">
          <kemet-tab-panel panel="one">
            <h3>Panel One</h3>
            <p><a href="https://www.lipsum.com/">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Integer lacinia arcu at viverra laoreet. Vivamus quis fringilla erat, eu mollis dui. In massa libero, tempor in sagittis sed, pellentesque sit amet ipsum. Suspendisse potenti. Aenean pellentesque convallis auctor. Aenean id elit eget purus mollis feugiat a non felis. Nulla maximus imperdiet sapien et convallis.</p>
            <img src="http://via.placeholder.com/1920x1080" alt="A placeholder" />
          </kemet-tab-panel>
          <kemet-tab-panel panel="two">
            <h3>Panel Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="https://www.lipsum.com/">Integer lacinia</a> arcu at viverra laoreet. Vivamus quis fringilla erat, eu mollis dui. In massa libero, tempor in sagittis sed, pellentesque sit amet ipsum. Suspendisse potenti. Aenean pellentesque convallis auctor. Aenean id elit eget purus mollis feugiat a non felis. Nulla maximus imperdiet sapien et convallis.</p>
            <img src="http://via.placeholder.com/1920x1080" alt="A placeholder" />
          </kemet-tab-panel>
          <kemet-tab-panel panel="three">
            <h3>Panel Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="https://www.lipsum.com/">Integer lacinia</a> arcu at viverra laoreet. <a href="https://www.lipsum.com">Vivamus quis fringilla erat</a>, eu mollis dui. In massa libero, tempor in sagittis sed, pellentesque sit amet ipsum. Suspendisse potenti. Aenean pellentesque convallis auctor. Aenean id elit eget purus mollis feugiat a non felis. Nulla maximus imperdiet sapien et convallis.</p>
            <img src="http://via.placeholder.com/1920x1080" alt="A placeholder" />
          </kemet-tab-panel>
        </section>
      </kemet-tabs>
    `;

    render(demoUI(properties), mainElement);

    const handleTabChanged = (event) => {
      properties.currentTab = event.detail;
      render(demoUI(properties), mainElement);
    };

    const handlePanelEffect = (event) => {
      properties.panelEffect = event.target.value;
      render(demoUI(properties), mainElement);
    };
  </script>
</body>
</html>
