@use 'config' as *;

kemet-carousel {
  --kemet-carousel-height: 18rem;
  margin-bottom: 1rem;
}

kemet-carousel[pagination='bottom'] {
  margin-bottom: 3.5rem;
}

kemet-carousel [slot='slides'] {
  height: 100%;
  border-radius: 1rem;
  border: 1px solid var(--kemet-color-primary);
}

kemet-carousel [slot='pagination'],
kemet-carousel[pagination='top'] [slot='pagination'] > *,
kemet-carousel[pagination='bottom'] [slot='pagination'] > * {
  display: flex;
}

kemet-carousel[pagination='bottom'] [slot='pagination'] {
  margin-top: 1rem;
}

kemet-carousel[pagination='top'] [slot='pagination'] {
  margin-bottom: 0.5rem;
}

kemet-carousel[pagination='left'] [slot='pagination'],
kemet-carousel[pagination='right'] [slot='pagination'] {
  width: 3rem;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

kemet-carousel[pagination='left'] [slot='pagination'] > *,
kemet-carousel[pagination='right'] [slot='pagination'] > * {
  margin: 0.5rem;
}

kemet-carousel-slide {
  display: flex;
}

kemet-carousel-slide img,
kemet-carousel-slide iframe {
  width: 100%;
  border-radius: 1rem;
}

kemet-carousel-slide > div {
  margin: auto;
}

kemet-carousel-link {
  position: relative;
  top: 1px;
  margin: 0 0.5rem;
}
