@use 'config' as *;

kemet-drawer {
  --kemet-drawer-width: #{map-get($kemet-components, drawer-width)};
  --kemet-drawer-background-color: var(--kemet-color-primary);
}

kemet-drawer[side='top'],
kemet-drawer[side='bottom'] {
  --kemet-drawer-height: #{map-get($kemet-components, drawer-height)};
}
