@use './config' as *;

:root {
  --kemet-border-radius: 6px;

  --kemet-color-white: #fff;
  --kemet-color-white-rich: #{map-get($colors, 'white-rich')};
  --kemet-color-gray1: #{map-get($colors, 'gray1')};
  --kemet-color-gray2: #{map-get($colors, 'gray2')};
  --kemet-color-gray3: #{map-get($colors, 'gray3')};
  --kemet-color-gray4: #{map-get($colors, 'gray4')};
  --kemet-color-gray5: #{map-get($colors, 'gray5')};
  --kemet-color-gray6: #{map-get($colors, 'gray6')};
  --kemet-color-gray7: #{map-get($colors, 'gray7')};
  --kemet-color-gray8: #{map-get($colors, 'gray8')};
  --kemet-color-gray9: #{map-get($colors, 'gray9')};
  --kemet-color-gray10: #{map-get($colors, 'gray10')};
  --kemet-color-black: #000;

  --kemet-color-primary: #{map-get($colors, 'primary')};
  --kemet-color-link: #{map-get($colors, 'link')};

  --kemet-color-error: #{map-get($colors, 'error')};
  --kemet-color-success: #{map-get($colors, 'success')};
  --kemet-color-neutral: #{map-get($colors, 'neutral')};
  --kemet-color-warning: #{map-get($colors, 'warning')};
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: var(--kemet-color-link);
  text-decoration: none;
}
