@use 'config' as *;
@use 'helpers' as *;

%flexitem {
  flex: 1;
  display: block;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: left;
}

// row layout
// ----------

[layout='flexrow'] {
  display: flex;
  padding: 0;
}

[layout='flexrow'] > * {
  @extend %flexitem;
}

// flex-items (force them to stretch)
[layout*='flex'][flex-items] > * {
  display: flex;
}

// autostack
[layout*='flex'][autostack] {
  flex-direction: column;
}

[layout*='flex'][autostack][align] > * {
  align-self: initial;
}

@media screen and (min-width: $stackpoint) {
  [layout*='flex'][autostack] {
    flex-direction: row;
  }
}

// align
[layout*='flex'][align='top'] {
  align-items: flex-start;
}

[layout*='flex'][align='middle'] {
  align-items: center;
}

[layout*='flex'][align='stretch'] {
  align-items: stretch;
}

[layout*='flex'][align='bottom'] {
  align-items: flex-end;
}

[layout*='flex'][cross-align='left'] {
  justify-content: left;
}

[layout*='flex'][cross-align='right'] {
  justify-content: right;
}

[layout*='flex'][cross-align='center'] {
  justify-content: center;
}

[layout*='flex'][cross-align='between'] {
  justify-content: space-between;
}

[layout*='flex'][cross-align='around'] {
  justify-content: space-around;
}

[layout*='flex'] > [align='top'] {
  align-self: flex-start;
}

[layout*='flex'] > [align='middle'] {
  align-self: center;
}

[layout*='flex'] > [align='stretch'] {
  align-self: stretch;
}

[layout*='flex'] > [align='bottom'] {
  align-self: flex-end;
}


// flexgrid
// --------

[layout='flexgrid'] {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

[layout='flexgrid'] > * {
  @extend %flexitem;
}

@include makeFlexgridBasis();


// flexcolumn
// ----------

[layout='flexcolumn'] {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[layout='flexcolumn'] > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

[layout='flexcolumn'] > [size-content] {
  flex: 0 0 auto;
}

[layout='flexcolumn'][align='bottom'] {
  justify-content: flex-end;
}

[layout='flexcolumn'][align='center'] {
  justify-content: center;
}

[layout='flexcolumn'][align='between'] {
  justify-content: space-between;
}

[layout='flexcolumn'][align='around'] {
  justify-content: space-around;
}

[layout='flexcolumn'][align] > * {
  flex: 0 0 auto;
}


// flexlist
// ---------

[layout='flexlist'] {
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

[layout='flexlist'] > * {
  flex: 0 0 auto;
}
