<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Scroll Nav | Kemet UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
  <link href="index.css" rel="stylesheet" />
</head>

<body class="index">
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit';
    import '../kemet-scroll-nav.js';

    render(
      html`
        <nav>
          <a href="index.sticky.html">Sticky Effect</a>
          <a href="index.resize.html">Resize Effect</a>
        </nav>
      `,
      document.querySelector('#demo'),
    );
  </script>
</body>
</html>
