<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Scroll Nav | Resize | Kemet UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
  <link href="index.css" rel="stylesheet" />
</head>

<body class="resize">
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit';
    import '../kemet-scroll-nav.js';

    render(
      html`
        <kemet-scroll-nav effect="resize" offset="-250">
          <div class="logo">
            <img src="https://web-components-resources.appspot.com/static/logo.svg" width="64" height="64" alt="Web Components" />
          </div>
          <ul class="social-media">
            <li><a href="http://facebook.com" title="Facebook">Facebook</a></li>
            <li><a href="http://twitter.com" title="Twitter">Twitter</a></li>
            <li><a href="http://instagram.com" title="Instagram">Instagram</a></li>
          </ul>
        </kemet-scroll-nav>

        <main>
          <header>
            <h1>Kemet Scroll Nav</h1>
            <aside>
              <p>
                Scroll down to see this nav resize!
                <a href="index.sticky.html">Check out the sticky effect here.</a>
              </p>
            </aside>
          </header>
          <article>
            <p>Bacon ipsum dolor amet ribeye flank pork short ribs bacon, brisket alcatra leberkas jowl shoulder ham hock tail. Flank alcatra shoulder, doner drumstick brisket cow sausage boudin chuck jowl hamburger leberkas. Shank kielbasa pastrami salami. Pork ribeye ham rump. Kielbasa buffalo flank drumstick, rump jerky andouille fatback salami.</p>
            <p>Drumstick salami t-bone, shoulder short loin shank tenderloin venison pork tail ham pork loin brisket. Corned beef leberkas tri-tip, shank pancetta pork pastrami. Pastrami venison ribeye shoulder, shankle porchetta turkey short loin ball tip. Tongue biltong sausage venison. Landjaeger fatback sausage, short loin cupim ham hock tenderloin shank corned beef pancetta turducken. Cow ham sausage ribeye porchetta drumstick, ham hock tri-tip hamburger bacon picanha chuck fatback.</p>
            <p>Jerky capicola short ribs pork chuck burgdoggen rump. Pork tongue beef swine, sausage pork chop turkey. Shankle tail tri-tip, alcatra landjaeger short ribs ham hock rump bresaola cupim cow sirloin t-bone pork belly drumstick. Boudin doner tail brisket, pork loin tri-tip kielbasa. Cupim pig pastrami pork swine, salami sausage meatloaf brisket biltong.</p>
            <p>Strip steak t-bone rump burgdoggen corned beef frankfurter. Chicken spare ribs beef ribs, pig meatball prosciutto ham kevin pork alcatra rump leberkas jerky porchetta. Salami ribeye pastrami jerky, biltong pancetta fatback jowl pig picanha meatloaf. Pork belly picanha ribeye kevin ham hock spare ribs kielbasa frankfurter beef ribs chuck shank. Short ribs porchetta doner pork loin jowl hamburger, buffalo pork shoulder drumstick shank tri-tip cupim pastrami. Leberkas burgdoggen ham hock landjaeger jowl picanha.</p>
            <p>Fatback tongue pork chop kielbasa alcatra flank buffalo, pastrami kevin landjaeger drumstick spare ribs rump ground round. Filet mignon bresaola porchetta shank buffalo pig pork loin pork chop fatback beef ribs meatball cow ham hock drumstick. Salami fatback short ribs, bacon capicola flank spare ribs turkey. Ham ribeye pastrami tri-tip ham hock tenderloin flank turkey ground round cow jerky doner sausage. Ribeye corned beef fatback short ribs burgdoggen salami tongue brisket bacon prosciutto pork chop jerky pancetta pork loin. Chuck ham hock hamburger, capicola tenderloin pig frankfurter pork belly spare ribs shoulder meatball ground round cupim jerky.</p>
            <p>Bacon ipsum dolor amet ribeye flank pork short ribs bacon, brisket alcatra leberkas jowl shoulder ham hock tail. Flank alcatra shoulder, doner drumstick brisket cow sausage boudin chuck jowl hamburger leberkas. Shank kielbasa pastrami salami. Pork ribeye ham rump. Kielbasa buffalo flank drumstick, rump jerky andouille fatback salami.</p>
            <p>Drumstick salami t-bone, shoulder short loin shank tenderloin venison pork tail ham pork loin brisket. Corned beef leberkas tri-tip, shank pancetta pork pastrami. Pastrami venison ribeye shoulder, shankle porchetta turkey short loin ball tip. Tongue biltong sausage venison. Landjaeger fatback sausage, short loin cupim ham hock tenderloin shank corned beef pancetta turducken. Cow ham sausage ribeye porchetta drumstick, ham hock tri-tip hamburger bacon picanha chuck fatback.</p>
            <p>Jerky capicola short ribs pork chuck burgdoggen rump. Pork tongue beef swine, sausage pork chop turkey. Shankle tail tri-tip, alcatra landjaeger short ribs ham hock rump bresaola cupim cow sirloin t-bone pork belly drumstick. Boudin doner tail brisket, pork loin tri-tip kielbasa. Cupim pig pastrami pork swine, salami sausage meatloaf brisket biltong.</p>
            <p>Strip steak t-bone rump burgdoggen corned beef frankfurter. Chicken spare ribs beef ribs, pig meatball prosciutto ham kevin pork alcatra rump leberkas jerky porchetta. Salami ribeye pastrami jerky, biltong pancetta fatback jowl pig picanha meatloaf. Pork belly picanha ribeye kevin ham hock spare ribs kielbasa frankfurter beef ribs chuck shank. Short ribs porchetta doner pork loin jowl hamburger, buffalo pork shoulder drumstick shank tri-tip cupim pastrami. Leberkas burgdoggen ham hock landjaeger jowl picanha.</p>
            <p>Fatback tongue pork chop kielbasa alcatra flank buffalo, pastrami kevin landjaeger drumstick spare ribs rump ground round. Filet mignon bresaola porchetta shank buffalo pig pork loin pork chop fatback beef ribs meatball cow ham hock drumstick. Salami fatback short ribs, bacon capicola flank spare ribs turkey. Ham ribeye pastrami tri-tip ham hock tenderloin flank turkey ground round cow jerky doner sausage. Ribeye corned beef fatback short ribs burgdoggen salami tongue brisket bacon prosciutto pork chop jerky pancetta pork loin. Chuck ham hock hamburger, capicola tenderloin pig frankfurter pork belly spare ribs shoulder meatball ground round cupim jerky.</p>
          </article>
        </main>

        <footer>
          <p>Back to <a href="index.html">index</a>.</p>
        </footer>
      `,
      document.querySelector('#demo'),
    );
  </script>
</body>
</html>
