{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-no-qualifying-type": null,
    "scss/at-function-pattern": null,
    "scss/at-mixin-pattern": null
  },
  "ignoreFiles": ["**/*.js", "**/*.html"]
}
