<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Kemet UI | Draggable</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
</head>

<body>
  <style>
    body {
      margin: 0;
      padding: 2rem;
      box-sizing: border-box;
      background: #fafafa;
    }

    section {
      display: grid;
      gap: 2rem;
      grid-template-columns: auto 1fr;
    }
  </style>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit';
    import '../kemet-draggable.js';

    render(
      html`
        <section>
          <div>
            <kemet-draggable measure>
              <button>Drag me!</button>
            </kemet-draggable>
          </div>
          <div>
            <kemet-draggable measure memory="a-unique-identifier-here">
              <button>Drag me and I'll remember where you dragged me!</button>
            </kemet-draggable>
          </div>
        </section>
      `,
      document.querySelector('#demo'),
    );
  </script>
</body>
</html>
