<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Icon | Kemet UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/dist/styles/kemet.components.css" />
</head>

<body>
  <style>
    body {
      display: flex;
      min-height: 100vh;
      margin: 0;
    }

    main {
      margin: auto;
      max-width: 960px;
    }

    ul {
      display: flex;
      gap: 3rem;
      list-style: none;
      align-items: center;
      flex-wrap: wrap;
    }

    kemet-icon {
      color: var(--kemet-color-link);
    }
  </style>
  <main></main>

  <script type="module">
    import { html, render } from 'lit';
    import '../../../../dist/kemet-components.js';

    const demoElement = document.querySelector('main');

    const demoUI = () => html`
      <section>
        <ul>
          <li><kemet-icon icon="alarm" size="64"></kemet-svg></li>
          <li><kemet-icon set="font-awesome-brands" icon="accessible-icon" size="64"></kemet-svg></li>
          <li><kemet-icon set="font-awesome-regular" icon="address-book" size="64"></kemet-svg></li>
          <li><kemet-icon set="font-awesome-solid" icon="address-card" size="64"></kemet-svg></li>
          <li><kemet-icon icon="the-fake" size="64"></kemet-svg></li>
        </ul>
      <section>
    `;

    render(demoUI(), demoElement);
  </script>
</body>
</html>
