article {
  color: #fafafa;
  padding: 2rem;
  line-height: 1.5;
  background-color: var(--kemet-color-primary);
  padding-top: 400px; /* should be the height of kemet-scroll-nav */
}

kemet-scroll-nav {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
}

kemet-scroll-nav a {
  text-decoration: none;
  color: var(--kemet-color-primary);
}

kemet-scroll-nav .links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
