@use './shared/helpers' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

@include makeRoot;

html {
  color: rgb(var(--kemet-color-text));
}

[polarity='dark'] {
  // colors
  --kemet-color-text: var(--kemet-color-white);
  --kemet-color-foreground: var(--kemet-color-white);
  --kemet-color-background: var(--kemet-color-primary);
  --kemet-color-white-to-black: var(--kemet-color-black);
  --kemet-color-white-to-primary: var(--kemet-color-primary);
  --kemet-color-gray-50-to-transparent: transparent;
  --kemet-color-primary-to-transparent: transparent;

  // component specific
  --kemet-upload-margin: 0;

  @include makeElevationDark;
}
