<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Modal | Kemet UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/dist/styles/kemet.components.css" />
</head>

<body>
  <style>
    body {
      display: flex;
      min-height: 100vh;
    }

    main {
      max-width: 960px;
      margin: auto;
      padding: 2rem;
    }

    article {
      transition: all ease 300ms;
    }

    article.blur {
      filter: blur(2px);
    }

    article.scale {
      transform: scale(0.75);
    }

    .modal-content {
      padding: 1rem 2rem;
      background: #ffffff;
    }
  </style>
  <main></main>

  <script type="module">
    import { html, render } from 'lit';
    import '../../../../dist/kemet-components.js';

    const properties = {
      opened: false,
      effect: 'fall',
      closeOnClick: false,
    };

    const mainElement = document.querySelector('main');

    const demoUI = props => html`
      <article>
        <p>
          <label>
            <input type="checkbox" @change=${event => handleClickOutside(event)} />
            Close when clicked outside of modal.
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" name="blur" />
            Blur the content when the modal opens.
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" name="scale" />
            Scale the content when the modal opens.
          </label>
        </p>
        <p>
          <label>
            <select @blur=${event => handleEffect(event)}>
              <option value="fadein-scaleup">FadeIn ScaleUp</option>
              <option value="fall" selected>Fall</option>
              <option value="flip-horizontal">Flip Horizontal</option>
              <option value="flip-vertical">Flip Vertical</option>
              <option value="newspaper">Newspaper</option>
              <option value="rotate-bottom">Rotate Bottom</option>
              <option value="rotate-left">Rotate Left</option>
              <option value="side-fall">Side Fall</option>
              <option value="sign-3d">Sign 3D</option>
              <option value="slit">Slit</option>
              <option value="slide-right">Slide Right</option>
              <option value="slide-bottom">Slide Bottom</option>
              <option value="super-scaled">Super Scaled</option>
            </select>
          </label>
        </p>
        <p>
          <button @click=${() => openModal()}>Open Modal</button>
        </p>
        <p>Bacon ipsum dolor amet doner turkey turducken boudin. Kevin salami ground round, frankfurter brisket tri-tip hamburger beef alcatra sirloin venison pastrami turducken. Strip steak ball tip pig swine burgdoggen sausage t-bone doner leberkas pork ham alcatra pork belly. Turducken corned beef rump chicken pancetta doner sirloin tail. Tenderloin ground round salami short ribs, bresaola andouille beef ribs tri-tip pastrami turkey ribeye ham fatback.</p>
        <p>Bacon ipsum dolor amet doner turkey turducken boudin. Kevin salami ground round, frankfurter brisket tri-tip hamburger beef alcatra sirloin venison pastrami turducken. Strip steak ball tip pig swine burgdoggen sausage t-bone doner leberkas pork ham alcatra pork belly. Turducken corned beef rump chicken pancetta doner sirloin tail. Tenderloin ground round salami short ribs, bresaola andouille beef ribs tri-tip pastrami turkey ribeye ham fatback.</p>
      </article>

      <kemet-modal
        effect=${props.effect}
        ?close-on-click=${props.closeOnClick}
        ?opened=${props.opened}
        @kemet-modal-opened=${() => handleOpened()}
        @kemet-modal-closed=${() => handleClosed()}>
        <div class="content">
          <h2>Title of Modal</h2>
          <p>Bacon ipsum dolor amet doner turkey turducken boudin. Kevin salami ground round, frankfurter brisket tri-tip hamburger beef alcatra sirloin venison pastrami turducken. Strip steak ball tip pig swine burgdoggen sausage t-bone doner leberkas pork ham alcatra pork belly. Turducken corned beef rump chicken pancetta doner sirloin tail. Tenderloin ground round salami short ribs, bresaola andouille beef ribs tri-tip pastrami turkey ribeye ham fatback.</p>
          <kemet-modal-close>
            <button>Close Me</button>
          </kemet-modal-close>
        </div>
      </kemet-modal>
    `;

    render(demoUI(properties), mainElement);

    const articleElement = document.querySelector('article');
    const blurInput = document.querySelector('input[name="blur"]');
    const scaleInput = document.querySelector('input[name="scale"]');

    const openModal = () => {
      properties.opened = true;
      render(demoUI(properties), mainElement);
    };

    const handleOpened = () => {
      properties.opened = true;

      if (blurInput.checked) {
        articleElement.classList.add('blur');
      }

      if (scaleInput.checked) {
        articleElement.classList.add('scale');
      }

      render(demoUI(properties), mainElement);
    };

    const handleClosed = () => {
      properties.opened = false;

      articleElement.classList.remove('blur');
      articleElement.classList.remove('scale');

      render(demoUI(properties), mainElement);
    };

    const handleClickOutside = (event) => {
      properties.closeOnClick = event.target.checked;
      render(demoUI(properties), mainElement);
    };

    const handleEffect = (event) => {
      properties.effect = event.target.value;
      render(demoUI(properties), mainElement);
    };
  </script>
</body>
</html>
