<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Carousel | Kemet UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">
  <link href="/demo/index.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/dist/styles/kemet.components.css" />
</head>

<body>
  <style>
    body {
      display: flex;
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
      background: #fafafa;
    }

    #demo {
      width: 80%;
      max-width: 48rem;
      margin: auto;
    }
  </style>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit';
    import '../../../../dist/kemet-components.js';

    const handleChange = (event) => {
      const carousel = document.querySelector('kemet-carousel');
      carousel.pagination = event.target.value;
    };

    const startSlideShow = () => {
      const carousel = document.querySelector('kemet-carousel');
      carousel.slideshow = 6;
      carousel.handleNext();
    };

    const stopSlideShow = () => {
      const carousel = document.querySelector('kemet-carousel');
      carousel.slideshow = 0;
    };

    const enableNextBtn = () => {
      const nextBtn = document.querySelector('kemet-carousel-next[disabled]');
      nextBtn.disabled = false;
    };

    document.addEventListener('kemet-carousel-change-finished', (event) => {
      document.querySelector('h1 span').innerHTML = event.detail.index + 1;
    });

    render(
      html`
      <h1>Current Slide: <span>1</span></h1>
      <p>
        Pagination:
        <select @blur=${event => handleChange(event)}>
          <option value="top">Top</option>
          <option value="right">Right</option>
          <option value="bottom" selected>Bottom</option>
          <option value="left">Left</option>
        </select>
      </p>

      <kemet-carousel pagination="bottom" index="1">
        <div slot="slides">
          <kemet-carousel-slide>
            <div>
              <h1>
                Slide one.
                <kemet-carousel-next disabled style="position:relative; top:8px;">
                  <svg viewBox="0 0 24 24" width="32" height="32" fill="#ffffff">
                    <path d="M9.98 6l6 6-6 6-1.4-1.4 4.6-4.6-4.6-4.6z"></path>
                  </svg>
                </kemet-carousel-next>
              </h1>
              <button @click=${enableNextBtn}>Click to Enable Next Arrow</button>
            </div>
          </kemet-carousel-slide>

          <kemet-carousel-slide>
            <img src="http://placehold.it/1920x1080" alt="A placeholder" />
          </kemet-carousel-slide>

          <kemet-carousel-slide transition="vertical">
            <div>Slide three (vertical).</div>
          </kemet-carousel-slide>

          <kemet-carousel-slide>
            <div>
              <iframe width="420" height="285" src="https://www.youtube.com/embed/MDets1_G9gQ" title="video"></iframe>
            </div>
          </kemet-carousel-slide>

          <kemet-carousel-slide transition="fade">
            <div>Slide five (fade).</div>
          </kemet-carousel-slide>
        </div>

        <div slot="pagination">
          <div>
            <kemet-carousel-prev>
              <svg viewBox="0 0 24 24" width="24" height="24" fill="#ffffff">
                <path d="M15.42 7.4l-4.6 4.6 4.6 4.6-1.4 1.4-6-6 6-6z"></path>
              </svg>
            </kemet-carousel-prev>
            <kemet-carousel-link slide="0">
              <button>1</button>
            </kemet-carousel-link>
            <kemet-carousel-link slide="1">
              <button>2</button>
            </kemet-carousel-link>
            <kemet-carousel-link slide="2">
              <button>3</button>
            </kemet-carousel-link>
            <kemet-carousel-link slide="3">
              <button>4</button>
            </kemet-carousel-link>
            <kemet-carousel-link slide="4">
              <button>5</button>
            </kemet-carousel-link>
            <kemet-carousel-next>
              <svg viewBox="0 0 24 24" width="24" height="24" fill="#ffffff">
                <path d="M9.98 6l6 6-6 6-1.4-1.4 4.6-4.6-4.6-4.6z"></path>
              </svg>
            </kemet-carousel-next>
          </div>
        </div>
      </kemet-carousel>
      <br>
      <hr>
      <br>
      <p>
        <button @click=${startSlideShow}>Start Slideshow</button>
        &nbsp;&nbsp;
        <button @click=${stopSlideShow}>Stop Slideshow</button>
      </p>
      `,
      document.querySelector('#demo'),
    );
  </script>
</body>
</html>
