@use '../../../dist/styles/kemet.base.scss' as *;
@use '../../../dist/styles/kemet.core.scss' as *;
@use '../../../dist/styles/kemet.components.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  overflow: auto;

  > button {
    cursor: pointer;
    color: var(--kemet-color-white);
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    border: none;
    background: var(--kemet-color-primary);
    border-radius: var(--kemet-border-radius-small);
  }
}

kemet-drawer {
  --kemet-drawer-color: var(--kemet-color-gray8);
  --kemet-drawer-background-color: var(--kemet-color-gray1);
}

nav[slot="navigation"] {
  overflow-y: auto;
  height: 100vh;

  aside {
    width: 100%;
  }

  kemet-button {
    --kemet-button-padding: 0.5rem;
    align-items: start;
  }
}

content-wrapper {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
