.intro p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.intro-masthead {
  position: relative;
  text-align: center;
}

.intro-masthead img {
  max-width: 80%;
}

.intro-masthead header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 600px;
}

.intro-masthead h1 {
  font-size: 8rem;
  color: rgb(var(--kemet-color-neutral-100));
  text-shadow: 2px 2px rgb(var(--kemet-color-black));
}

.intro-masthead p {
  position: relative;
  top: -1.5rem;
  font-size: 3rem;
  color: rgb(var(--kemet-color-white));
  text-shadow: 2px 2px rgb(var(--kemet-color-black));
  padding-bottom: 1rem;
}

.intro-masthead p,
.intro-masthead h1 {
  width: auto;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgb(var(--kemet-color-blue-500) / 70%);
}
